<ion-header>
  <ion-toolbar color="danger">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Universidades</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-label position="floating">Escriba el nombre de un país en inglés</ion-label>
      <ion-input [(ngModel)]="university"></ion-input>
    </ion-item>

    <br>
      <ion-button (click)="generar()" expand="block">Ver</ion-button>
    <br>
    <h5>Las universidades de este país son:</h5>
    <ion-list>
    <ion-item *ngFor="let item of nombre">
     {{item.name}}
    + Dominio: {{item.domains}}
    + Página web: {{item.web_pages}}

    </ion-item>
  </ion-list>
    </ion-list>
</ion-content>
