<ion-header>
  <ion-toolbar color="danger">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Contratame</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list>
    <ion-item>
      <img style="width: 70%; margin:0 auto; max-width: 400px;" src="assets/img/yo.jpg" alt="">
    </ion-item>
    <ion-item>
      <label>Nombres: </label> &nbsp; Eric Joel
    </ion-item>
    <ion-item>
      <label>Apellidos: </label> &nbsp; Collado Guerrero
    </ion-item>
    <ion-item>
      <label>Correo: </label> &nbsp; 202010141@itla.edu.do
    </ion-item>
    <ion-item>
      <label>Celular: </label> &nbsp; 849-209-0609
    </ion-item>
    <ion-item>
      <label>Telegram: </label> &nbsp; <a href="https://t.me/EricJCollado">https://t.me/EricJCollado</a>
    </ion-item>
  </ion-list>
</ion-content>
