<!--Eric Collado 2020-10141-->

<ion-header>
  <ion-toolbar color="danger">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Inicio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <img style ="width: 100%; margin: 0 auto; max-width: 400px;" src="assets/img/navaja.webp">
    </ion-item>
    <ion-item>
      <div align="justify">
      <p>La navaja suiza (en alemán, Schweizer Offiziersmesser, en italiano, Coltellino svizzero, en francés, Couteau suisse) es una herramienta manual de diversas funciones. Una navaja suiza incluye un cuchillo y varias herramientas más, como destornilladores, tijera, lima y abrebotellas. Estos accesorios se guardan dentro del mango de la navaja mediante un mecanismo que gira alrededor de un pivote.
      </p>
      <p>Al igual que las navajas suizas esta aplicación contará con distintas herramientas y funcionalidades que supliran la necesidad que tengas en el momento, concentrando todo en un solo espacio. Siendo entonces esta app en si misma, una navaja suiza.</p>

      </div>
    </ion-item>
  </ion-list>

</ion-content>
